{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>Cars</title>
    <!-- Static Load -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>

<body>
<div id="box">

    <!-- Navigation Bar -->
    <header>
        <nav>
            <img src="/static/images/car2.jpg" alt="car">
            <a href="{% url 'show index' %}">Home</a>
            <ul></ul>
            <ul>
                <!--Only for user with created profile-->

                {% if request.user.is_authenticated %}

                    <li><a href="{% url 'add car' %}">Add Car</a></li>
                    <li><a href="{% url 'profile details' %}">Profile</a></li>
                    <li><a href="{% url 'log out user' %}">Logout</a></li>
                    <li><a href="{% url 'profile details' %}">{{ request.user }}</a></li>


                {% else %}

                    <li><a href="{% url 'register user' %}">Register</a></li>
                    <li><a href="{% url 'log in user' %}">Login</a></li>
                    <li><a href="{% url 'add car' %}">Add Car</a></li>

                {% endif %}
            </ul>
        </nav>
    </header>
    <!-- End Navigation Bar -->

    <!-- Main Content -->


    {% block page_content %}
    {% endblock %}


    <!-- Footer -->
    {#    <footer>#}
    {#        <div>#}
    {#            &copy;SoftUni Team 2022. All rights reserved.#}
    {#        </div>#}
    {#    </footer>#}
    <!-- End Footer -->

</div>
</body>
</html>